<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agregar Zona</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>

<header>
    <h1 class="header-title">Agregar Zona</h1>
    <nav class="navbar">
        <a href="/zonas">Listado de Zonas</a>
        <a href="/inmuebles">Inmuebles</a>
        <a href="/otros">Otros</a>
    </nav>
</header>

<div class="container">
    <h2>Formulario de Agregar Zona</h2>
    <form action="/zonas/guardar2" method="post">
        <label for="id">ID:</label>
        <input type="number" id="id" name="id" required>

        <label for="nombre">Nombre:</label>
        <input type="text" id="nombre" name="nombre" required>

        <label for="precio">Precio:</label>
        <input type="number" id="precio" name="precio" step="0.01" required>

        <button type="submit">Guardar</button>
    </form>
</div>

</body>
</html>
