<header>
    <h1 class="header-title">For Sale</h1>
    <nav class="navbar">
        <a href="#">Otros</a>
        <a href="/inmuebles">Inmuebles</a>
        <a href="/zonas">Zonas</a>
    </nav>
</header>

