{{#layout}}
        <h1>Listado de Inmuebles</h1>
        <table>
            <thead>
            <tr>
                <th>CantAmb</th>
                <th>tm2</th>
                <th>Zona</th>
            </tr>
            </thead>
            <tbody>
            {{#inmuebles}}
                <tr>
                    <td>{{cantAmbientes}}</td>
                    <td>{{tamanioEnM2}}</td>
                    <td>{{zona.nombre}}</td>
                </tr>
            {{/inmuebles}}
            </tbody>
        </table>
{{/layout}}

{{>layout}}


