<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/css/styles.css"></head>
<body>

{{> header}}

<div class="container">
    <h1>Listado de Zonas</h1>
    <table>
        <thead>
        <tr>
            <th>Nombre</th>
            <th>Precio</th>
            <th>ID</th>
        </tr>
        </thead>
        <tbody>
        {{#zonas}}
            <tr>
                <td>{{nombre}}</td>
                <td>{{precio}}</td>
                <td>{{id}}</td>
            </tr>
        {{/zonas}}
        </tbody>
    </table>
</div>

<footer>
    <a href="/zonas/agregarZona" class="generic-button">Agregar Zona</a>
</footer>


</body>
</html>
