{{#layout}}
    <h1>Listado de Zonas</h1>
    <table>
        <thead>
        <tr>
            <th>Nombre</th>
            <th>Precio</th>
            <th>ID</th>
        </tr>
        </thead>
        <tbody>
        {{#zonas}}
            <tr>
                <td>{{nombre}}</td>
                <td>{{precio}}</td>
                <td>{{id}}</td>
            </tr>
        {{/zonas}}
        </tbody>
    </table>


    <footer>
        <a href="/zonas/agregarZona" class="generic-button">Agregar Zona</a>
    </footer>
{{/layout}}
{{>layout}}




