{{#layout}}
    <h2>Zona creada con Éxito</h2>
    <form action="/zonas">
        <button type="submit" class="success-button">Volver a la lista de zonas</button>
    </form>
{{/layout}}
{{>layout}}




